/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.div_register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  font-family: "Poppins", sans-serif; 
}
.container_register {
  position: relative;
  max-width: 520px;
  width: 100%;
  background: #ffffff;
  margin-top: 120px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 2.1);
}
.container_register header {
  font-size: 2.5rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
}
.container_register .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
  border: #000000;
}
.input-box span {
  color: red;
}
.imp{
  color: red;
}
.input-box label {
  color: #000000;
  font-weight: bold;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #000000;
  margin-top: 8px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #000000;
  font-size: 1.6rem;
  font-weight: bold;
  /* font-weight: 400; */
  /* margin-bottom: 8px; */
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(60, 255, 0);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #000000;
  font-size: 19px;

}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #000000;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(104, 228, 87);
}
.form button:hover {
  background: rgb(24, 248, 80);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
