{% extends "masterpage.html" %}
{% load static %}

{% block navbar %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="{% static 'css/adminhome.css' %}" rel="stylesheet">
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0"></div>
            <a href="/studenthome/" class="btn btn-primary rounded-pill py-2 px-4">Student  Home</a>
            <a href="/studenthome/student_course_list/" class="btn btn-primary rounded-pill py-2 px-4">Course List</a>
            <a href="/studenthome/student_batch_list/" class="btn btn-primary rounded-pill py-2 px-4">Batch List</a>
            <a href="/studenthome/enroll_batch/" class="btn btn-primary rounded-pill py-2 px-4">My Batch</a>
            <a href="/studenthome/gallery1/" class="btn btn-primary rounded-pill py-2 px-4">Gallery</a>
            <a href="/studenthome/updateprofile/" class="btn btn-primary rounded-pill py-2 px-4">Update Profile</a>
             <a href="/studenthome/profile/" class="btn btn-primary rounded-pill py-2 px-4">View Profile</a>
            <a href="/studenthome/logout1/" class="btn btn-primary rounded-pill py-2 px-4">Logout</a>
        <a class="navbar-brand p-0">
        
        <img src='{{ image }}' style="zoom: 130%;" alt="image" value="image" >

        </a>
        <!-- <h5 style="color: white;">{{ name }}</h5> -->
        </div>
    </nav>
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Welcome To Dance Academy</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">We are delighted to have you as part of our dance family. Get ready to express yourself, learn new moves, and embrace the rhythm of life. Our instructors are here to guide you every step of the way. Let’s dance and make unforgettable memories together!</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block main1 %}
{% endblock %}
