{% extends "masterpage.html" %}
{% load static %}

{% block navbar %}
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            {% comment %} <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>T</h1> {% endcomment %}
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                {% comment %} <a href="/" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Contact</a> {% endcomment %}
            </div>
            <a href="/adminhome/" class="btn btn-primary rounded-pill py-2 px-4">Admin Home</a>
            <!-- <a href="#" class="btn btn-primary rounded-pill py-2 px-4">About</a> -->
            <a href="/adminhome/contect/" class="btn btn-primary rounded-pill py-2 px-4">Contact</a>
            <a href="/adminhome/admin_update_profile/" class="btn btn-primary rounded-pill py-2 px-4"> Profile Update</a>
            <a href="/adminhome/" class="btn btn-primary rounded-pill py-2 px-4">Back</a>
        </div>
        <a class="navbar-brand p-0">
        
            <img src='{{ img }}' style="zoom: 130%;" alt="image" value="image" >
            
        </a>
    </nav>
</div>

{% endblock %}


{% block main1 %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">

<div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="pb-5">
                    <h4 style="margin-top: 10px;" class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Contact Us</h4>
                    <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Get In Touch</h1>
                </div>
                <div class="bg-light rounded p-4 pb-0">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                            <h2 class="display-5 mb-2">Form</h2>
                            <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done.</p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-floating">
                                            <input type="phone" class="form-control" id="phone" placeholder="Phone">
                                            <label for="phone">Your Phone</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="project" placeholder="Project">
                                            <label for="project">Your Project</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 160px"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button style="background-color: rgb(100, 156, 43);" class="btn btn-primary w-100 py-3">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-5">
                                <div class="mb-3"><i class="fa fa-home fa-2x text-primary"></i></div>
                                <div class="ms-4">
                                    <h4>Addresses</h4>
                                    <p class="mb-0">Universal informatic indore , india</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-5">
                                <div class="mb-3"><i class="fa fa-map-marker-alt fa-2x text-primary"></i></div>
                                <div class="ms-4">
                                    <h4>Addresses</h4>
                                    <p class="mb-0">123 ranking Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-5">
                                <div class="mb-3"><i class="fa fa-phone-alt fa-2x text-primary"></i></div>
                                <div class="ms-4">
                                    <h4>Mobile</h4>
                                    <p class="mb-0">+012 345 67890</p>
                                    <p class="mb-0">+012 345 67890</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-5">
                                <div class="mb-3"><i class="fa fa-envelope-open fa-2x text-primary"></i></div>
                                <div class="ms-4">
                                    <h4>Email</h4>
                                    <p class="mb-0">info@example.com</p>
                                    <p class="mb-0">info@example.com</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="me-4">
                                    <i class="fas fa-share-alt fa-2x text-primary"></i>
                                </div>
                                <div class="d-flex">
                                    <a class="btn btn-lg-square btn-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg-square btn-primary rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg-square btn-primary rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-lg-square btn-primary rounded-circle mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="rounded h-100 pb-3">
                                <iframe class="rounded w-100" 
                                style="height: 500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd" 
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        {% endblock %}

{% block about %}

{% endblock %}


{% block service %}

{% endblock %}

{% block courses %}

{% endblock %}

{% block booking %}

{% endblock %}

{% block process %}

{% endblock %}

{% block teacher %}

{% endblock %}

{% block happy_students %}

{% endblock %}