{% extends "adminhome.html" %}
{% load static %}

{% block navbar %}
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0"></div>
            <a href="/adminhome/" class="btn btn-primary rounded-pill py-2 px-4">Admin Home</a>
            <!-- <a href="#" class="btn btn-primary rounded-pill py-2 px-4">About</a> -->
            <a href="/adminhome/contect/" class="btn btn-primary rounded-pill py-2 px-4">Contact</a>
            <a href="/adminhome/admin_update_profile/" class="btn btn-primary rounded-pill py-2 px-4"> Profile Update</a>
            <a href="/adminhome/" class="btn btn-primary rounded-pill py-2 px-4">Back</a>
        </div>
        <a class="navbar-brand p-0">
        
            <img src='{{ img }}' style="zoom: 130%;" alt="image" value="image" >
            
        </a>
    </nav>
</div>
{% endblock %}

{% block main1 %}

<link href="{% static 'css/register.css' %}" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<div class="div_register" >
<div class="container-xxl py-5 destination">
    <div class="container" style="margin-top: 50px;">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3"></h6>
            <h1 class="">Gallery</h1>
        </div> 
    
        <div class="row py-5">
         {% for x in res %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">
                    <img class="img-fluid" src="{{ x.image.url }}" alt="">
                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                           
                        </div>
                        <a class="h5" href="">{{ x.name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
    
{% endblock %}